.navlink {
    margin-top: 50%;
    
}
h1 {
    font-size: 120px;
    color: rgb(76, 55, 104);
    border-radius: 4px solid blue;
}
h2{
    color: rgb(70, 40, 109);
}
h3 {
    color: rgb(98, 74, 129);
}